body {
  font-family: "Roboto", sans-serif;
  position: relative;
  font-size: 12px; }
  body h1, body h2 {
    margin: 0; }

header {
  height: 100vh;
  background: url(../img/bg1.jpeg) center center;
  background-size: cover;
  position: relative;
  justify-content: center;
  align-items: center;
  box-shadow-bottom: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px; }
  header h1 {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5.4em;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.87); }

#Home .scrolldown a {
  padding-bottom: 60px; }

#Home .scrolldown a span {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box; }

#Home .scrolldown a span::before {
  position: absolute;
  bottom: 30px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box; }

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    transform: translate(0, 20px);
    opacity: 0; }
  100% {
    opacity: 0; } }
.navbar-default {
  background-color: transparent;
  border-color: transparent; }
  .navbar-default .navbar-nav li a {
    display: inline-block;
    font-size: 1.7em;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.67);
    padding: 10px 20px; }
    .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
      color: rgba(255, 255, 255, 0.9); }
  .navbar-default .navbar-nav .active a {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.9); }
    .navbar-default .navbar-nav .active a span {
      display: inline-block;
      position: relative; }
      .navbar-default .navbar-nav .active a span:before {
        position: absolute;
        content: "";
        bottom: -4px;
        height: 3px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9); }
    .navbar-default .navbar-nav .active a:focus, .navbar-default .navbar-nav .active a:hover {
      background-color: transparent;
      color: rgba(255, 255, 255, 0.9); }

.navbar-right {
  margin-right: -70px;
  margin-top: 10px; }

.about-section {
  background: url(../img/bg2.jpg) center center;
  background-size: cover;
  padding: 50px 0;
  position: relative; }
  .about-section * {
    position: relative; }
  .about-section .container {
    max-width: 750px; }
    .about-section .container h2 {
      text-transform: uppercase; }
    .about-section .container .about-wrapper {
      font-size: 1.9em;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.7);
      padding: 50px 0 5px 0; }

.overlay:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  display: block;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  z-index: 0; }

.register-section label {
  border: 2px solid #ccc;
  border-radius: 3px;
  padding: 1px 5px; }
  .register-section label input, .register-section label select, .register-section label button {
    font-family: "Roboto", sans-serif;
    font-size: 1.35em;
    font-weight: 300;
    line-height: 1;
    border: 0; }

.testimonials-section {
  background-color: #DCF5FF;
  overflow-x: hidden;
  padding-bottom: 55px; }
  .testimonials-section h2 {
    padding: 50px 0; }
  .testimonials-section .right {
    color: red; }
  .testimonials-section .brand-wrapper {
    padding-bottom: 5px;
    display: inline-block;
    min-width: 1px; }
    .testimonials-section .brand-wrapper:hover {
      background-color: yellow; }
    .testimonials-section .brand-wrapper .brand-content {
      font-size: 2.5em;
      font-weight: 700;
      text-transform: uppercase;
      background-color: white;
      padding-bottom: 5px;
      display: inline-block; }
  .testimonials-section .slider {
    position: relative;
    height: 22vw;
    width: 30vw;
    margin: 0 35vw 0 35vw; }
    .testimonials-section .slider .slide-unit {
      position: absolute;
      height: 50%;
      width: 50%;
      top: 25%;
      left: 0;
      background: url(../img/bg-carousel.jpeg) center center;
      background-size: cover;
      transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      .testimonials-section .slider .slide-unit.active {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0; }

.register-section {
  background-color: #5E7C88;
  padding: 50px 0 50px 0; }
  .register-section form {
    max-width: 450px;
    margin: 0 auto; }
    .register-section form h2 {
      text-transform: uppercase;
      margin-bottom: 50px; }
    .register-section form p {
      font-size: 1.35em;
      font-weight: 400;
      line-height: 1.3em;
      margin-bottom: 50px; }
    .register-section form .input {
      display: flex;
      align-items: center; }
      .register-section form .input:focus {
        outline: none;
        outline: 2px solid #E6E2AF;
        box-shadow: 0 0 2px #E6E2AF; }
    .register-section form .button {
      height: 44px;
      border: none; }
    .register-section form #email {
      width: 75%;
      background: #FDFCFB;
      font-family: inherit;
      color: #737373;
      letter-spacing: 1px;
      text-indent: 5%;
      border-radius: 5px 0 0 5px; }
    .register-section form #submit {
      width: 25%;
      height: 46px;
      background: #E6E2AF;
      font-family: inherit;
      font-weight: bold;
      color: inherit;
      letter-spacing: 1px;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      transition: background 0.3s ease-in-out; }
      .register-section form #submit:hover {
        background: #6D9ABA; }

.footer {
  position: relative;
  background-color: #222;
  padding: 10px 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer .trademark {
    font-size: 1.7em;
    font-weight: 400;
    line-height: 1.3em;
    letter-spacing: 0.25px;
    color: #DFDFDF; }
  .footer .toTop {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer .toTop a {
      font-size: 1.6em;
      font-weight: 300;
      line-height: 1.3em;
      color: #DFDFDF; }
      .footer .toTop a:hover {
        text-decoration: underline; }
    .footer .toTop .glyphicon-arrow-up {
      background-color: transparent;
      color: #DFDFDF;
      font-size: 1.2em;
      margin-top: -0.55em;
      padding-left: 0.2em; }

@media all and (max-width: 768px) {
  body {
    font-size: 10px; }

  header h1 {
    font-size: 5em; }

  .navbar-right {
    overflow: hidden;
    margin: 0; }
    .navbar-right li {
      text-align: center; }

  .register-section form .input {
    flex-direction: column; }
  .register-section form #email {
    width: 100%; }
  .register-section form #submit {
    width: 100%;
    margin-top: 5px; } }

/*# sourceMappingURL=main.css.map */
